*{
    box-sizing: border-box;
}
.top{
    font-size: xx-large;
    text-align: center;
    color: white;
    background-color: black;
}
.column {
    float: left;
    padding: 15px;
    height: 400px;
}
.one{
    color: aliceblue;
   width: 65%;
}

h2{text-align: center;
    font-size: larger;
    font-weight: lighter;

}
.two{
    width: 35%;
    
}
.two img{
    float: right;
}
.main{
    background-color: black;
}
.main:after{
    content: "";
    display: table;
    clear: both;

}
footer{
    padding: 5px;
    text-align: center;
    color: white;
    background-color: black;
}
@media (max-width: 600px) {
    .column {
      width: 100%;
      height: auto;
    }
  }